@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600&family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.sign-in-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.input-parent-div {
    margin: 15px 0;
}
.log-in {
    display: none;
}
.fa-circle-xmark {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #999;
    transition: 0.5s ease-in-out;
}
.fa-circle-xmark:hover {
    color: red;
}
.sign-in-form h1 {
    color: #1c8adb;
    margin-bottom: 15px;
}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 5px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}
button {
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 5px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sign-in-button, .sign-up-button {
    background-color: #1c8adb;
}
.sign-in-twitter-button {
    background-color: #21afde;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: brown;
    cursor: pointer;
}
hr {
    margin-top: 10px;
    width: 80%;
}
.or {
    background-color: #fff;
    width: 30%;
    margin: -19px auto 10px;
}
.sign-up{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: auto;
}
.sign-up h1 {
    color: #1c8adb;
    margin-top: 15px;
    margin-bottom: 20px;
}
.sign-up .input {
    width: 90%;
    border-radius: 20px;
    margin: 5px 0;
    border: 1px solid #999;
    outline: none;
    padding: 10px;
}
.sign-up a{
    text-decoration: none;
}

.success input {
    border: 2px solid green;
}
.error input {
    border: 2px solid red;
}
#sign-in-form p, #sign-up-form p {
    color: red;
    font-size: 16px;
    visibility: hidden;
    margin: 0px 0 5px;
    text-align: left;
}
