

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600&family=Varela+Round&display=swap');

/*---------------------general document----------------------*/
:root{
    --light-aqua: hsl(180, 100%, 95%);
    --whiter-aqua: hsl(180, 100%, 100%);
    --greener-aqua: hsl(180, 90%, 33%);
    --light-green-aqua: hsl(180, 60%, 85%);
    --light-red: hsl(0, 100%, 60%);
    --pure-white: #fff;
    --fade-black: hsl(0,0%,20%);
    --grey: hsl(180, 0%, 50%);
}

*{
    box-sizing: border-box;
    font-family: 'Varela Round', 'Geologica', Courier, monospace;
    padding: 0;
    margin: 0;
}

body{
    background: var(--whiter-aqua);
    display: flex;
    flex-direction: column;
    
}
/*----------------------main----------------------*/
main{
    max-width: 90vw;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background: var(--whiter-aqua);
 }
/*-------------------------Header---------------------*/
header{
    background: transparent;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: inherit;
    width: inherit;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
 .logo a{
    color: var(--fade-black);
    font-family: 'Geologica';
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
 }

 nav{
    display: block;
    font-family: 'Geologica';
    font-weight: 400;
 }

 nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 nav > ul > li{
    list-style: none;
    padding: 20px;
 }

 nav > ul > li a{
    color: var(--fade-black);
    transition: .5s ease-in-out;
    text-decoration: none;
 }

 nav > ul > li a:hover{
    color: var(--greener-aqua);
 }

 .form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 90px;
 }
 .form > .login{
    color:  var(--fade-black);
    background: transparent;
    padding: 10px 15px;
    border: 1px solid var(--greener-aqua);
    border-radius: 20px;
    outline: none;
    transition: 0.5s ease-in-out;
    margin-right: 40px;
 }
 .form > .login:hover{
    background-color: var(--greener-aqua);
    color: var(--pure-white);
 }
 .form > .register{
    color:  var(--pure-white);
    background-color: var(--greener-aqua);
    padding: 10px 20px;
    border: 1px solid var(--greener-aqua);
    border-radius: 20px;
    outline: none;
    transition: 0.5s ease-in-out;
 }
 .form > .register:hover{
    color: var(--fade-black);
    background: transparent;
 }

/*-------------------hero section---------------*/
 #hero{
    margin-top: 120px;
    max-width: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
 }
 .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    width: inherit;
    max-width: inherit;
 }
 .textplus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    width: 60%;
    display: none;
 }
 .text h1{
    font-family: 'Varela Round';
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    margin-bottom: 1.2rem;
 }
 .text p{
    font-family: 'Geologica';
    color: var(--fade-black);
    text-align: left;
    letter-spacing: 0.1rem;
 }
.btns{
    margin: 20px 0 0;
    display: flex;
    width: 40%;
}
.btns > button{
    padding: 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.btns > button > a{
    text-decoration: none;
}
.btns > #explore{
    background: var(--greener-aqua);
    transition: 0.5s;
}
.btns > #learn{
    border: none;
    background: transparent;
    transition: 0.5s;
}
.btns > #explore a{
    color: var(--pure-white);
}
.btns > #learn > a{
    color: var(--greener-aqua);
}
/*------------picsforrmating--------------*/

/*------------picsforrmating--------------*/

#capacity h2{
    text-transform: capitalize;

}
#capacity h2 span{
    color: var(--greener-aqua);
}
.image-container{
    width: 40%;
    height: inherit;
    background: var(--grey);
}
.image-container .green-bg{
    background: var(--grey);
    border-radius: 50%, 0, 0, 2%;
    position: absolute;
    z-index: 1;
    width: inherit;
    height: inherit;
    right: 0;
}
.image-container .green-bg{
    background: var(--greener-aqua);
    position: absolute;
    z-index: 5;
    width: inherit;
    height: 400px;
    right: 0;
    border-radius: 90% 0 0 5%;
}
.image-container .green-bg img{
    width: 100%;
    height: auto;
}
#large-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 40%;
    background: var(--pure-white);
}
#medium-circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 35%;
    background: var(--pure-white);
}
#small-circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    background: var(--pure-white);
}
hr{
    height: 0.1rem;
    width: 100%;
    background: var(--light-green-aqua);
    margin-top: 10px;
    border: none;
    outline: none;
    display: none;
}
#small-square{
    width: 10px;
    height: 10px;
    background: var(--light-green-aqua);
    margin-left: 0;
    margin-top: -6px;
    transform: rotate(45deg);
    display: none;
}
.specialties-heading{
    height: 150px;
    width: 100vw;
    padding: 50px auto 20px;
    display: none;
}
.specialties-heading > h2{
    font-weight: 600;
    font-family: 'Varela Round';
}
.specialties-heading > p{
    color: var(--grey);
}
.specialties-heading > h2, p{
    text-align: center;
}
.specialties{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    display: none;
}
.specialty-div{
    width: 200px;
    background: var(--light-green-aqua);
    border: 1px solid var(--grey);
    border-radius: 15px;
}
.mini-speciality-div{
    height: 60px;
    width: 60px;
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 50%;
    background-color: var(--whiter-aqua);
    margin-top: -30px;
    margin-left: 70px;
}
.specialty-div > h2{
    margin-top: 15px;
    text-align: center;
    color: var(--fade-black);
    font-family: 'Geologica';
    font-weight: 500;
}
.specialty-div > p{
    text-align: center;
    margin: 10px;
    color: var(--grey);
}
.specialty-div > a{
    margin: 15px auto;
    text-decoration: none;
    color: var(--greener-aqua);
}