

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600&family=Varela+Round&display=swap');

/*---------------------general document----------------------*/
:root{
    --light-aqua: hsl(180, 100%, 95%);
    --whiter-aqua: hsl(180, 100%, 100%);
    --greener-aqua: hsl(180, 90%, 33%);
    --light-green-aqua: hsl(180, 60%, 85%);
    --light-red: hsl(0, 100%, 60%);
    --pure-white: #fff;
    --fade-black: hsl(0,0%,20%);
    --grey: hsl(180, 0%, 50%);
}

*{
    box-sizing: border-box;
    font-family: 'Varela Round', 'Geologica', Courier, monospace;
    padding: 0;
    margin: 0;
}

body{
    background: var(--whiter-aqua);
    display: flex;
    flex-direction: column;
    
}
/*----------------------main----------------------*/
main{
    max-width: 90vw;
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
    background: var(--whiter-aqua);
 }
/*-------------------------Header---------------------*/
header{
    background: transparent;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    max-width: inherit;
    width: inherit;
    z-index: 10;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
 .logo a{
    color: var(--fade-black);
    font-family: 'Geologica';
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
 }

 nav{
    display: block;
    font-family: 'Geologica';
    font-weight: 400;
 }

 nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }

 nav > ul > li{
    list-style: none;
    padding: 20px;
 }

 nav > ul > li a{
    color: var(--fade-black);
    transition: .5s ease-in-out;
    text-decoration: none;
    font-size: 20px;
 }
 nav > ul > li a.active{
    color: var(--greener-aqua);
 }

 nav > ul > li a:hover{
    color: var(--greener-aqua);
 }

 .form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 90px;
 }
 .form > .login{
    color:  var(--fade-black);
    background: transparent;
    padding: 10px 15px;
    border: 1px solid var(--greener-aqua);
    border-radius: 30px;
    outline: none;
    transition: 0.5s ease-in-out;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
 }
 .form > .login:hover{
    background-color: var(--greener-aqua);
    color: var(--pure-white);
 }
 .form > .register{
    color:  var(--pure-white);
    background-color: var(--greener-aqua);
    padding: 10px 20px;
    border: 1px solid var(--greener-aqua);
    border-radius: 30px;
    outline: none;
    transition: 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 400;
 }
 .form > .register:hover{
    color: var(--fade-black);
    background: transparent;
 }

/*-------------------hero section---------------*/
 #hero{
    margin-top: 80px;
    max-width: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
 }
 .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
    max-width: inherit;
    height: 500px;
    background-image: url("images/hero-bg.PNG");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
 .textplus{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
    width: 60%;
    margin-top: 100px;
 }
 .empty-div{
    width: 40%;
 }
 .text h1{
    font-family: 'Varela Round';
    font-weight: 700;
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    margin-bottom: 1.2rem;
    color: var(--fade-black);
 }
 .text p{
    font-family: 'Geologica';
    font-weight: 500;
    font-size: 22px;
    color: var(--fade-black);
    text-align: left;
    letter-spacing: 0.1rem;
 }
.btns{
    margin: 20px 0 0;
    display: flex;
    flex-direction: row;
    width: 40%;
}
.btns > button{
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.btns > button > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}
.btns > #explore{
    background: var(--greener-aqua);
    transition: 0.5s;
}
.btns > #learn{
    border: none;
    background: transparent;
    transition: 0.5s;
}
.btns > #explore a{
    color: var(--pure-white);
}
.btns > #learn > a{
    color: var(--greener-aqua);
}
/*------------#capacity forrmating--------------*/
#capacity{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 20px;
}
#registered-students{
    display: flex;
    gap: -10px;
    margin-bottom: 15px;
}
#pic1, #pic2, #pic3, #pic4{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pics img{
    width: 100%;
    height: auto;
}
/*------------#capacity forrmating--------------*/

#capacity h2{
    text-transform: capitalize;
    color: var(--fade-black);

}
#capacity h2 span{
    color: var(--greener-aqua);
}
.image-container{
    width: 40%;
    height: inherit;
    background: transparent;
}
.in-btn-seg{
    margin-top: -12px;
}
hr{
    height: 0.1rem;
    width: 100%;
    background: var(--light-green-aqua);
    margin-top: 10px;
    border: none;
    outline: none;
}
#small-square{
    width: 10px;
    height: 10px;
    background: var(--light-green-aqua);
    margin-left: 0;
    margin-top: -6px;
    transform: rotate(45deg);
}
#specialties{
    width: inherit;
    padding-top: 100px;
}
.specialties-heading{
    width: inherit;
    padding: 50px auto 20px;
    margin-bottom: 80px;
}
.specialties-heading > h2{
    font-weight: 600;
    font-family: 'Varela Round';
    margin-bottom: 10px;
    font-size: 35px;
    color: var(--fade-black);
}
.specialties-heading > p{
    color: var(--grey);
    font-size: 18px;
    font-family: 'Varela Round';
    font-weight: 400;
}
.specialties-heading > h2, p{
    text-align: center;
}
.specialties{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}
.specialty-div{
    width: 250px;
    height: 200px;
    background: var(--light-green-aqua);
    border: 1px solid var(--grey);
    border-radius: 15px;
}
.mini-speciality-div{
    height: 80px;
    width: 80px;
    border: 1px solid var(--grey);
    outline: none;
    border-radius: 50%;
    background-color: var(--whiter-aqua);
    margin-top: -40px;
    margin-left: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mini-speciality-div i{
    font-size: 50px;
    color: var(--greener-aqua);
}
.specialty-div > h2{
    margin-top: 15px;
    text-align: center;
    color: var(--fade-black);
    font-family: 'Geologica';
    font-weight: 500;
}
.specialty-div > p{
    text-align: center;
    margin: 10px;
    color: var(--grey);
}
.specialty-div > a{
    margin: 15px auto;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    color: var(--greener-aqua);
}
/*------------------------about section---------------------*/

#aboutUs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-top{
    padding-top: 100px;
}
.about-top h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Varela Round';
    font-weight: 600;
    color: var(--fade-black);
}
.about-top p{
    text-align: center;
    font-size: 30px;
    font: 'Varela Round';
    font-size: 400;
    margin: 5px 0;
}
.about-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.about-pics{
    width: 50%;
    display: grid;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: left;
    width: 48%;
}
.about-content h3{
    color: var(--greener-aqua);
    font-family: 'Varela Round';
    font-size: 30px;
    font-weight: 400;
}
.about-content p{
    text-align: left;
    color: var(--grey);
}
.about-content button{
    display: flex;
    padding: 10px 10px;
    background-color: var(--greener-aqua);
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 25px;

}
.about-content button .arrow{
    background-color: var(--pure-white);
    color: var(--greener-aqua);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 23px 30px 30px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
